html, body {
			padding: 0;
			margin: 0;
			box-sizing: border-box;
			font-family: Helvetica, Calibri, Roboto, Open Sans, sans-serif
			-webkit-backface-visibility: hidden;
			background-color: #000000;
			background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
	}
* {
	box-sizing: inherit;

	}
h1 {
	text-align: center;
	color: white;
	}
svg {
	margin:auto;
	display:block;
	}
text.label {
	fill: white;
    }
.circle-overlay {
	font-size: 16px;
	border-radius: 50%;
	position: absolute;
	overflow: hidden;
/*it's buggy with the foreignObject background right now*/
/*background-color: rgba(255,255,255,0.5);*/
	}
.circle-overlay__inner {
	text-align: center;
	width: 100%;
	height: 100%;
	}
.hidden {
	display: none;
	}
.node-icon--faded {
	opacity: 0.5;
	}
.legend-size circle {
	fill: rgb(31, 119, 180);
	}
image.node-icon {
    clip-path: circle(50% at center);
	}
@keyframes glowing {
0% { text-shadow: 0 0 -10px white; }
40% { text-shadow: 0 0 100 white; }
60% { text-shadow: 0 0 100px white; }
100% { text-shadow: 0 0 -10px white; }
}
.navbar-brand{
	font-weight: bold;
	animation: glowing 2000ms infinite;
}
