html, body {
			padding: 0;
			margin: 0;
			box-sizing: border-box;
			font-family: Helvetica, Calibri, Roboto, Open Sans, sans-serif
			-webkit-backface-visibility: hidden;
			background-color: #000000;
			background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
	}
* {
	box-sizing: inherit;

	}
h1 {
	text-align: center;
	color: white;
	}
svg {
	margin:auto;
	display:block;
	}
text.label {
	fill: white;
    }
.circle-overlay {
	font-size: 16px;
	border-radius: 50%;
	position: absolute;
	overflow: hidden;
/*it's buggy with the foreignObject background right now*/
/*background-color: rgba(255,255,255,0.5);*/
	}
.circle-overlay__inner {
	text-align: center;
	width: 100%;
	height: 100%;
	}
p.circle-overlay__body {
	fill: black;
	font-weight: bold;
}
.hidden {
	display: none;
	}
.node-icon--faded {
	width: inherit;
	opacity: 0.5;
	}
.legend-size circle {
	fill: rgb(31, 119, 180);
	}
image.node-icon {
    clip-path: circle(50% at center);
	}
@keyframes glowing {
0% { text-shadow: 0 0 -10px white; }
40% { text-shadow: 0 0 100 white; }
60% { text-shadow: 0 0 100px white; }
100% { text-shadow: 0 0 -10px white; }
}
.navbar-brand{
	font-weight: bold;
	animation: glowing 2000ms infinite;
}
@keyframes blimp {
0% { transform:scale(1);}
100% { transform:scale(5.8);}
}
@keyframes blop {
0% { transform:scale(1.8);}
100% { transform:scale(1);}
}
.node-icon-xxxxs{
	animation: blop 2000ms;
	animation-fill-mode: forwards;
}
.node-icon-xxxs{
	animation: blop 2000ms;
	animation-fill-mode: forwards;
}
.node-icon-xxs{
	animation: blop 2000ms;
	animation-fill-mode: forwards;
}
.node-icon-xs{
	animation: blop 2000ms;
	animation-fill-mode: forwards;
}
.node-icon-s {
	animation: blimp 2000ms;
	animation-fill-mode: forwards;
}
.node-icon-m{
	animation: blop 2000ms;
	animation-fill-mode: forwards;
}
.node-icon-l{
	animation: blop 2000ms;
	animation-fill-mode: forwards;
}
.node-icon-xl{
	animation: blop 2000ms;
	animation-fill-mode: forwards;
}
.node-icon-xxl{
	animation: blop 2000ms;
	animation-fill-mode: forwards;
}
.node-icon-xxl{
	animation: blimp 2000ms;
	animation-fill-mode: forwards;
}
.node-icon-xxxl{
	animation: blop 2000ms;
	animation-fill-mode: forwards;
}
.node-icon-xxxxl{
	animation: blimp 2000ms;
	animation-fill-mode: forwards;
}



.node-icon-xxxxs-faded{
	animation: blop 2000ms;
	animation-fill-mode: forwards;
}
.node-icon-xxxs-faded{
	animation: blop 2000ms;
	animation-fill-mode: forwards;
}
.node-icon-xxs-faded{
	animation: blop 2000ms;
	animation-fill-mode: forwards;
}
.node-icon-xs-faded{
	animation: blop 2000ms;
	animation-fill-mode: forwards;
}
.node-icon-s-faded{
	animation: blimp 2000ms;
	animation-fill-mode: forwards;
}
.node-icon-m-faded{
	animation: blop 2000ms;
	animation-fill-mode: forwards;
}
.node-icon-l-faded{
	animation: blop 2000ms;
	animation-fill-mode: forwards;
}
.node-icon-xl-faded{
	animation: blop 2000ms;
	animation-fill-mode: forwards;
}
.node-icon-xxl-faded{
	animation: blop 2000ms;
	animation-fill-mode: forwards;
}
.node-icon-xxl-faded{
	animation: blimp 2000ms;
	animation-fill-mode: forwards;
}
.node-icon-xxxl-faded{
	animation: blop 2000ms;
	animation-fill-mode: forwards;
}
.node-icon-xxxxl-faded{
	animation: blimp 2000ms;
	animation-fill-mode: forwards;
}