<!DOCTYPE html>
<html>


<head>
{% block head %}
  <title>Vibez</title>
  <!-- Bootstrap -->
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endblock %}
</head>



<body>
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/amplitudejs/4.0.0/amplitude.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

{% endblock %}
</body>


</html>
