{% extends 'base.html' %}
{% block content %}
  <h1>Generate Your Playlist!</h1>
  <form action="/create" method='POST'>

    
      <label>Genre</label>
          <input type="text" name="genre" required class="form-control">
      <br>

    
      <label>Minimum Danceability (Scale of 0-1)</label>
          <input type="password" name="minDanceability" required class="form-control">
      <br>

    
      <label>Maximum Danceability (Scale of 0-1)</label>
          <input type="password" name="maxDanceability" required class="form-control">
      <br>
    
      <input type="submit" value="Create Playlist!" class="btn btn-create">

  </form>

{% endblock %}