{% extends 'base.html' %}
{% block content %}
  
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Vibez</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" id="buttonPlaylists" href="#">Playlists <span class="sr-only">(current)</span></a> 
    </div>
  </div>

	<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" id="buttonLogout" href="#">Log Out</a>
            </li>
            
        </ul>
    </div>
</nav>

<script>

    document.getElementById("buttonPlaylists").onclick = function() {
  	    window.location.href = "/playlists";
		    };

	document.getElementById("buttonLogout").onclick = function() {
  	    window.location.href = "/logout";
		    };

</script>

  <h1>Generate Your Playlist!</h1>

  <form autocomplete="off" action="/create" method='POST'>

      <label>Genre</label>
    <div class="autocomplete" style="width:300px;">
          <input id="myInput" type="text" name="genre" required class="form-control" placeholder="Genre">
    </div>
      <br>

    
      <label>Minimum Danceability (Scale of 0-1)</label>
          <input type="text" name="minDanceability" required class="form-control" placeholder="Min">
      <br>

    
      <label>Maximum Danceability (Scale of 0-1)</label>
          <input type="text" name="maxDanceability" required class="form-control" placeholder="Max">
      <br>
    
      <input type="submit" value="Create Playlist!" class="btn btn-create">

  </form>

  <script>

    var genres = ["acoustic", "afrobeat",
    "alt-rock", "alternative", "ambient", "anime", "black-metal", "bluegrass",
    "blues", "bossanova", "brazil", "breakbeat", "british", "cantopop", "chicago-house",
    "children", "chill", "classical", "club", "comedy", "country", "dance", "dancehall",
    "death-metal", "deep-house", "detroit-techno", "disco", "disney", "drum-and-bass",
    "dub", "dubstep", "edm", "electro", "electronic", "emo", "folk", "forro", "french",
    "funk", "garage", "german", "gospel", "goth", "grindcore", "groove", "grunge", "guitar",
    "happy", "hard-rock", "hardcore", "hardstyle", "heavy-metal", "hip-hop", "holidays",
    "honky-tonk", "house", "idm", "indian", "indie", "indie-pop", "industrial", "iranian",
    "j-dance", "j-idol", "j-pop", "j-rock", "jazz", "k-pop", "kids", "latin", "latino",
    "malay", "mandopop", "metal", "metal-misc", "metalcore", "minimal-techno", "movies",
    "mpb", "new-age", "new-release", "opera", "pagode", "party", "philippines-opm", "piano",
    "pop", "pop-film", "post-dubstep", "power-pop", "progressive-house", "psych-rock",
    "punk", "punk-rock", "r-n-b", "rainy-day", "reggae", "reggaeton", "road-trip", "rock",
    "rock-n-roll", "rockabilly", "romance", "sad", "salsa", "samba", "sertanejo",
    "show-tunes", "singer-songwriter", "ska", "sleep", "songwriter", "soul",
    "soundtracks", "spanish", "study", "summer", "swedish", "synth-pop", "tango",
    "techno", "trance", "trip-hop", "turkish", "work-out", "world-music"];

  </script>


{% endblock %}

