{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/D3_user_playlists_page.css') }}">

	<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">Vibez</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" id="buttonCreate" href="#">Create <span class="sr-only">(current)</span></a>
    </div>
  </div>

	<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" id="buttonLogout" href="#">Log Out</a>
            </li>
            
        </ul>
    </div>
</nav>

<script type="text/javascript" src="{{ url_for('static', filename='js/D3_user_playlists_page_navbar.js') }}"></script>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="text-center text-danger">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


    <h1>Your Playlists</h1>
	<svg width="100%" height="850" font-family="sans-serif" font-size="10" text-anchor="middle"></svg>
    <script src='https://d3js.org/d3.v5.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.js'></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/D3_user_playlists_page.js') }}"></script>

{% endblock %}