{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
  
	<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand">Vibez</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  </div>

	<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" id="buttonRegister" href="#">Register</a>
            </li>
            
        </ul>
    </div>
</nav>

<script type="text/javascript" src="{{ url_for('static', filename='js/login_navbar.js') }}"></script>


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="text-center text-danger">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<div class="row">
<div class="col-sm-12 col-lg-6 ml-lg-auto mr-lg-auto center">
  <h1>Login</h1>
  <br>
  <form action="/" method="POST">

  
    <div class="form-group">
    <label>Email:</label>
        <input class="form-control col-sm-6 ml-lg-auto mr-lg-auto center" type="text" name="email" required class="form-control">
    </div>
    
    
    <div class="form-group">
    <label>Password:</label> 
      <input class="form-control col-sm-6 ml-lg-auto mr-lg-auto center" type="password" name="password" required class="form-control">
    </div>
    <br>
    
    <input type="submit" value="Login" class="btn btn-login">
    
  </form>
</div>
</div>


<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>

<center>
  <div id="turntable">
    <div id="table-shadow"></div>
    <div id="table-feet"></div>
    <div id="wood">
      <div id="grain1"></div>
      <div id="grain2"></div>
      <div id="grain3"></div>
      <div id="grain4"></div>
      <div id="grain5"></div>
      <div id="grain6"></div>
    </div>
    <div id="wood2">
      <div id="grain7"></div>
      <div id="grain8"></div>
      <div id="grain9"></div>
      <div id="grain10"></div>
      <div id="grain11"></div>
    </div>
    <div id="table"></div>
    <div id="button"></div>
    <div id="disk">
      <div id="label"></div>
    </div>
    <div id="axis-shadow"></div>
    <div id="axis"></div>
    <div id="arm-shadow"></div>
    <div id="weight-shadow"></div>
    <div id="base">
      <div id="axle-shadow"></div>
    </div>
    <div id="lever"></div>
    <div id="weight"></div>
    <div id="axle"></div>
    <div id="arm"></div>
    <div id="head"></div>
  </div>

  <div id="inspired">Inspired by <a href="http://dribbble.com/shots/1063182-Record-Player">this shot</a></div>
</center>

<script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/login_recordplayer.js') }}"></script>
{% endblock %}