
{% extends 'base.html' %}
{% block content %}
  <h1>Your Playlist!</h1>

 
  {% for track in saved_spotify_info.tracks %}
  <div class = songCard>
    
  

    <div class = trackPlayer> <iframe src="https://open.spotify.com/embed/track/{{ track["id"] }}" width="300"
        height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>


    <p class = songTitle>{{ track["name"] }}
    </p>

    {% for artist in track.artists %}
    <p class = songArtist>{{ artist["name"] }}
    </p>
    {% endfor %}




    

    </div>

    {% endfor %}

{% endblock %}